/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #c9d1d9;
  --base-font: 14px;
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
}
* {
  box-sizing: border-box;
}
body {
  background: #0D1117
}
